# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs

/**/mcmodsrepo/
/obfuscation/fg7/repo/
/obfuscation/fg7-kotlin/repo/
/_internal/test-repo/
