# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

/**/mcmodsrepo/
/obfuscation/fg7/repo/
/_internal/fg7/test-repo/
